.corkBackground {
	position: fixed; /* Changed from 'relative' to 'fixed' */
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: -1; /* Ensures it stays behind content */
}

.scrollableContent {
	position: absolute; /* Positioning relative to the viewport */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto; /* Enables vertical scrolling */
	padding: 20px; /* Adjust padding as needed */
	z-index: 1; /* Ensures it's above the background */
}

.addButton {
	position: fixed;

	bottom: 20px;
	right: 20px;

	z-index: 2; /* Ensures button is above all other content */

	cursor: pointer;
	/* padding: 20px 24px; */
	border: none;
	/* font-size: 24px; */

	width: 50px;
	height: 50px;

	border-radius: 10px;

	/* margin-right: 6px; */

	background: #0000007c;

	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);

	transition: all 0.25s;
}

.addButton:hover {
	transform: scale(1.1);
	background: #3d3d3d7c;
}

.addButton:active {
	transform: scale(1);
}

.addButtonIco {
	width: 28px;
	height: 28px;

	padding: 11px;

	color: #eee;

	transition: all 0.25s;
}

.content {
	color: #000000;
	background-color: #f0f0e6;
	width: 200px;
	padding: 10px;
	position: absolute;
	/* top: 500px; Set y position */
	/* left: 100px; Set x position */
	border: 1px solid #949494;
	border-radius: 2px;
	display: inline-block;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	position: relative;
}

.dot {
	height: 15px;
	width: 15px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	top: -7.5px;
	left: 50%;
	transform: translateX(-50%);
	/* top: -7.5px; */
}

.myImg {
	display: block;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 1px;
	padding: -20px;
}
